<div class="container">
  <a href="/" class="name-link">
    <div class="sidebar-name">Ali Anıl Koçak</div>
  </a>

  <img class="rounded-avatar"
       src="https://miro.medium.com/max/3150/1*mZ3xXbns5BiBFxrdEwloKg.jpeg" alt="">

  <div class="biography">
    Hi, my name is Anıl and I'm Flutter Developer. Welcome to my personel website.
  </div>

  <div class="social-links">
    <a target="_blank" href="https://twitter.com/alianilkocak" class="fa fa-twitter social-link"></a>
    <a target="_blank" href="https://github.com/alianilkocak" class="fa fa-github social-link"></a>
    <a target="_blank" href="https://medium.com/@alianilkocak" class="fa fa-medium social-link"></a>
    <a target="_blank" href="https://www.linkedin.com/in/alianilkocak" class="fa fa-linkedin social-link"></a>
    <a target="_blank" href="https://stackoverflow.com/users/6860380/ali-anil-kocak"
       class="fa fa-stack-overflow social-link"></a>
  </div>

  <ul class="sidebar-links">
    <li>
      <div class="sidebar-link">
        <i class="fa fa-user"></i>
        <a routerLink="/aboutme">  About Me</a>
      </div>
      <div class="sidebar-link">
        <i class="fa fa-laptop"></i>
        <a routerLink="/portfolio" href=""> Portflio</a>
      </div>
      <div class="sidebar-link">
        <i class="fa fa-suitcase"></i>
        <a routerLink="/resume" href=""> Resume</a>
      </div>
      <div class="sidebar-link">
        <i class="fa fa-file"></i>
        <a routerLink="/blog" href=""> Blog</a>
      </div>
      <div class="sidebar-link">
        <i class="fa fa-address-book"></i>
        <a routerLink="/contact" href=""> Contact</a>
      </div>


    </li>
  </ul>


  <div class="hire">
    <i class="fa fa-telegram"></i>
    <a>
      Hire Me!
    </a>
  </div>


</div>
